
@font-face{
	font-family: Open Sans Regular;
	src: local(Open Sans Regular), url("assets/OpenSans-Regular.ttf");
}


@font-face{
	font-family: Open Sans Light;
	src: local(Open Sans Light), url("assets/OpenSans-Light.ttf");
}


@font-face{
	font-family: Open Sans Condensed Light;
	src: local(Open Sans Condensed Light), url("assets/OpenSans_Condensed-Light.ttf");
}


body{
   font-family: Open Sans Regular, sans-serif;
    font-size: 1.2rem;
}

img{
    max-width:100%;
}

#musicplayer{
	display:none;
}
.main-container{
    padding: .5rem;
    margin: auto;
    container-type: inline-size;
}

.one-sentence{
    text-align: left !important;
}

.multi-sentence{
    text-align: justify;
}

.image-container{
 width: 100%;
 margin-block: 2rem;
}

.title-container{
    container-type: inline-size;
    padding-right: 20%;
}

.page-title{
    font-size: 5rem;
    font-size: 13cqw;
    font-family: Open Sans Light, sans serif;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: -1.5px;
}

.person{
    display: block;
    text-decoration: none;
    color: #444499;
}

.citation{
    padding-inline: 2rem;
    color: #444;
    margin-block: 1rem;
    text-align: justify;
}

.note{
    text-decoration: none;
    color: #449;
}

.note::before{
    content: "- ";
}





@media screen and (min-width: 800px){
    .main-container{
	    width: 80swv;
            padding: 1rem;

    }
}
@media screen and (min-width: 1200px){
    .main-container{
	    width: 50svw;
            padding: 2rem;
    }
}
